/* ========= Global CSS start =========*/

html{
    scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6, p, span, b, strong{
    font-family: "Montserrat", sans-serif;
}
img{
    max-width: 100%;
}

/* Variables */
:root{
    --primary-color: #5433ED;
    --hover-color: #013772;
    --white: #ffffff;
    --green-color: #00D15F;
}
.primary_btn{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--hover-color);
    outline: none;
    transition: all .4s ease;
    background: var(--primary-color);
    display: block;
    padding: 0.7rem 1.2rem;
    border-radius: .5rem;
    width: fit-content;
}
.primary_btn:hover{
    background: var(--hover-color);
}
.primary_btn:hover span{
    margin-left: 0.5rem;
}
/* ========= Global CSS end =========*/

/* Style start */
.headerSection{
    background: var(--primary-color);
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid var(--hover-color);
}
.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}
.header_contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
}
.header_contact_single .headerCicon{
    font-size: 0.9rem;
    color: var(--green-color);
}
.header_contact_single a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--white);
    transition: .3s ease;
}
.header_contact_single a:hover{
    color: var(--hover-color);
}
.header_contact_single{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
}


/* Slider design start */
.carousel-item{
    height: 40rem;
}
.carousel-item img{
    height: 100%;
}
.topSlider_section{
    margin-top: 3.3rem;
    background: #f5f5f5;
    border-bottom: 1px solid var(--primary-color);
}
/* Slider design end */

/* Product section start */
.product_section{
    padding: 5rem 0;
    background: #dff9fb;
}
.single_product_inner{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2px var(--primary-color);
    border-radius: .3rem;
}
.single_product_inner:hover .orderDiv{
    transform: translateX(0);
}
.orderDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: .3s ease;
    z-index: 1;
}
.gotoBuy{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: block;
    position: relative;
}
.gotoBuy span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background: var(--primary-color);
    border-radius: 1rem;
    padding: .5rem 1.2rem;
    transition: .3s;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    letter-spacing: .5px;
}
.gotoBuy span:hover{
    background: var(--hover-color);
}
.priceBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
}
.priceBox span{
    font-weight: 700;
    font-size: 1.1rem;
}
.productNmae{
    font-size: 1rem;
    font-weight: 700;
    background: var(--primary-color);
    margin-bottom: 0;
    color: var(--white);
    padding: 0.6rem;
}
.single_product_inner img{
    width: 100%;
    height: 14rem;
}
.discount{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0 .3rem 0 .3rem;
    background: var(--primary-color);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
}
.productType{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: .3rem 0 .3rem 0;
    background: var(--green-color);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
}
.stockablity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 0;
}
.stockData{
    margin-bottom: 0;
    font-weight: 400;
    color: var(--white);
    font-size: 0.9rem;
}
.stockCheck{
    color: var(--white);
    font-size: 0.9rem;
}
.inStosk{
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
    padding: 0.6rem;
    background: var(--hover-color);
}
.pCode{
    color: var(--white);
    font-weight: 400;
    font-size: 0.9rem;
}
.brand{
    font-size: .9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
}
.brandCountry{
    background: #bdc3c7;
    padding: 0.6rem;
}
span.priceTitle{
    font-weight: 500;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}
/* Product section end */

/* blog_section start */
.blog_section{
    padding: 5rem 0;
    text-align: center;
    background: var(--primary-color);
}
.section_title{
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;
}
.sub_title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #30336b;
}
.blog_titles .sub_title{
    color: var(--white);
}
.blog_titles .paragraph{
    color: var(--white);
    margin-top: .5rem;
}
.blog_single{
    padding: 1.5rem;
    margin: .5rem;
    background: var(--white);
    border-radius: .5rem;
    height: 36rem;
    overflow: auto;
}
.blog_single img{
    border-radius: .4rem;
    height: 20rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
.subtitle2{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.blog_single .paragraph{
    text-align: justify;
}
/* blog_section end */

/* testimonial_section start */
.testimonial_section{
    padding: 5rem 0;
    text-align: center;
    background: #DFF9FB;
}
.reviewer_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    padding: 1.5rem 1rem 1rem 1rem;
    background: #f0f0f0;
    margin-top: -1rem;
}
.reviewer_info img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%; 
    box-shadow: 0 0 2px var(--primary-color);
}
.nameofR{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align-last: left;
    margin-left: 0;
    margin-bottom: 0;
}
.location{
    font-size: .9rem;
    font-weight: 600;
    color: var(--hover-color);
    text-align-last: left;
    margin-left: 0;
    margin-bottom: 0;
}
.testimonial_single{
    border-radius: .3rem;
    box-shadow: 0 0 2px var(--primary-color);
    margin: 0.5rem;
}
.testimonial_single iframe{
    border-radius: .3rem .3rem 0 0;
    margin-bottom: 0;
}
/* testimonial_section end */

/* ckeckout_single start */
.checkout_section{
    padding: 5rem 0;
    background: #f5f5f5;
}
.ckeckout_single{
    padding: 1rem;
    box-shadow: 0 0 3px var(--primary-color);
    border-radius: .4rem;
}
.dubble_input{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 4%;
    flex-wrap: wrap;
}
.dubble_input .input_div{
    width: 48%;
}
.ckeckout_single input{
    padding: 0.6rem;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid rgba(0, 0, 0, .2);
    outline-color: var(--primary-color);
    transition: .3s ease;
    margin-bottom: 1.2rem;
}
.ckeckout_single input:hover{
    border-color: var(--primary-color);
}
.method_div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .5rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
    border-radius: .4rem;
}
.method_div .paragraph{
    margin-bottom: .3rem;
}
.transactionId{
    margin-bottom: .3rem;
}
.method_div input{
    width: fit-content;
    margin-bottom: 0;
    margin-top: 0.3rem;
}
.method_div .online{
    font-size: 1.1rem;
    font-weight: 600;
    color: #30336b;
    margin-bottom: 0.3rem;
}
.method_div input:checked .online{
    color: var(--primary-color);
}
/* ckeckout_single end */

/* ============= Mobile responsive start =========== */

/* max width 1200px */
@media (max-width: 1200px) {
    .carousel-item{
        height: 35rem;
    }
    .single_product_inner img{
        height: 13rem;
    }
    .blog_single img{
        height: 18rem;
    }
    .testimonial_single iframe{
        height: 200px;
    }
}

/* Max width 992px */
@media (max-width: 992px) {
    .carousel-item{
        height: 32rem;
    }
    .product_section{
        padding: 4rem 0;
    }
    .blog_section{
        padding: 4rem 0;
    }
    .checkout_section, .testimonial_section{
        padding: 4rem 0;
    }
    .blog_single img{
        height: 24rem;
    }
    .blog_single{
        height: unset;
    }
}

/* max width 768px */
@media (max-width: 768px) {
    .single_product_inner img{
        height: 10rem;
    }
    .carousel-item{
        height: 25rem;
    }
    .product_section, .blog_section, .checkout_section, .testimonial_section{
        padding: 3rem 0;
    }
    .inStosk{
        column-gap: .2rem;
    }
    .blog_single img{
        height: 20rem;
    }
    .dubble_input .input_div{
        width: 100%;
    }
    .testimonial_single iframe{
        height: 18rem;
    }
    .section_title{
        margin-bottom: 2rem;
    }
}

/* Max width 576px */
@media (max-width: 576px) {
    .carousel-item{
        height: 20rem;
    }
    .header_main{
        flex-direction: column;
        row-gap: .5rem;
    }
    .single_product_inner img{
        height: 20rem;
    }
}

/* Max width 520px */
@media (max-width: 520px) {
    .product_section, .blog_section, .checkout_section, .testimonial_section{
        padding: 2rem 0;
    }
    .section_title{
        margin-bottom: 1.5rem;
    }
}

/* Max width 480px */
@media (max-width: 480px) {
    .single_product_inner img {
        height: 17rem;
    }
    .blog_single img {
        height: 17rem;
    }
    .testimonial_single iframe {
        height: 16rem;
    }    
    .paragraph{
        font-size: 0.9rem;
    }
    .testimonial_single{
        margin: 0;
    }
}

/* Max width 420px */
@media (max-width: 420px) {
    .carousel-item {
        height: 17rem;
    }
    .single_product_inner img {
        height: 15rem;
    }
    .blog_single img {
        height: 15rem;
    }
    .blog_single{
        padding: 0.5rem;
        margin: 0;
    }
    .testimonial_single iframe {
        height: 13.5rem;
    }
    .ckeckout_single{
        padding: 1rem .5rem;
    }
    .header_contact{
        flex-direction: column;
        row-gap: .5rem;
    }
}

/* Max width 369px */
@media (max-width: 369px) {
    .carousel-item {
        height: 15rem;
    }
    .single_product_inner img {
        height: 13rem;
    }
    .blog_single img {
        height: 13rem;
    }
}
/* ============= Mobile responsive end =========== */
